[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/AuTko
	label-Code-Review = -2..+2 group user/MikhailLU
	label-Code-Review = -2..+2 group user/Nikita Pavets (nikitapavets)
	label-Code-Review = -2..+2 group user/Volkov German (VolkovGerman)
[access "refs/for/refs/*"]
	read = group user/AuTko
	push = group user/AuTko
	label-Code-Review = -2..+2 group user/AuTko
	label-Verified = -1..+1 group user/AuTko
	rebase = group user/AuTko
	removeReviewer = group user/AuTko
	submit = group user/AuTko
[access "refs/heads/*"]
	read = group user/AuTko
	create = group user/AuTko
	push = +force group user/AuTko
	pushMerge = group user/AuTko
[access "refs/tags/*"]
	push = +force group user/AuTko
	createTag = group user/AuTko
	createSignedTag = group user/AuTko
